<div th:fragment="footerFragment">
    <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보취급방침</a></li>
        <li><a href="#">제휴/도서홍보</a></li>
        <li><a href="#">광고센터</a></li>
        <li><a href="#">고객만족센터</a></li>
        <li class="no_line"><a href="#">찾아오시는길</a></li>
    </ul>
    <div class="clear"></div>
	<!--<div style="padding-left:200px">
    	<img width="147px" height="62px" alt="Booktopia" th:src="@{/image/Booktopia_Logo2.jpg}" />
	</div>-->
	
	<div style="width: 100%; display: flex; justify-content: center;">
		<img width="147px" height="62px" alt="Booktopia" th:src="@{/image/Booktopia_Logo2.jpg}" />
	  <div style="text-align: left; line-height: 1.8; padding-left: 20px;">
		
	    <p>㈜북토피아</p>
	    <p>대표이사: 이병승</p>
	    <p>주소 : 서울시 종로구 종로3</p>
	    <p>사업자등록번호 : 102-81-11111</p>
	    <p>통신판매업신고번호 : 제 666호</p>
	    <p>개인정보보호책임자 : 김길동 privacy@google.co.kr</p>
	    <p>대표전화 : 1544-1544 &nbsp;&nbsp; 팩스 : 0502-977-7777</p>
	    <p><strong>COPYRIGHT(C) 북토피아 BOOK CENTRE ALL RIGHTS RESERVED.</strong></p>
	  </div>
	</div>
</div>