<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="headerFragment">
<script type="text/javascript">
	var loopSearch=true;
	function keywordSearch(){
		if(loopSearch==false)
			return;
	 var value=document.frmSearch.searchWord.value;
		$.ajax({
			type : "get",
			async : true, //false인 경우 동기식으로 처리한다.
			url : "/goods/keywordSearch.do",
			data : {keyword:value},
			success : function(data, textStatus) {
			    var jsonInfo = JSON.parse(data);
				displayResult(jsonInfo);
			},
			error : function(data, textStatus) {
				alert("에러가 발생했습니다."+data);
			},
			complete : function(data, textStatus) {
				//alert("작업을완료 했습니다");
				
			}
		}); //end ajax	
	}
	
	function displayResult(jsonInfo){
		var count = jsonInfo.keyword.length;
		if(count > 0) {
		    var html = '';
		    for(var i in jsonInfo.keyword){
			   html += "<a href=\"javascript:select('"+jsonInfo.keyword[i]+"')\">"+jsonInfo.keyword[i]+"</a><br/>";
		    }
		    var listView = document.getElementById("suggestList");
		    listView.innerHTML = html;
		    show('suggest');
		}else{
		    hide('suggest');
		} 
	}
	
	function select(selectedKeyword) {
		 document.frmSearch.searchWord.value=selectedKeyword;
		 loopSearch = false;
		 hide('suggest');
	}
		
	function show(elementId) {
		 var element = document.getElementById(elementId);
		 if(element) {
		  element.style.display = 'block';
		 }
		}
	
	function hide(elementId){
	   var element = document.getElementById(elementId);
	   if(element){
		  element.style.display = 'none';
	   }
	}
</script>	
	<div id="logo">
        <a th:href="@{/main/main.do}">
            <img width="176" height="80" alt="booktopia" th:src="@{/image/Booktopia_Logo.jpg}" />
        </a>
    </div>
    <div id="head_link">
        <ul>
            <li th:if="${session.isLogOn}"><a th:href="@{/member/logout.do}">로그아웃</a></li>
            <li th:if="${session.isLogOn}"><a th:href="@{/mypage/myPageMain.do}">마이페이지</a></li>
            <li th:if="${session.isLogOn}"><a th:href="@{/cart/myCartList.do}">장바구니</a></li>
            <li th:if="${session.isLogOn}"><a href="#">주문배송</a></li>
            <li th:unless="${session.isLogOn}"><a th:href="@{/member/loginForm.do}">로그인</a></li>
            <li th:unless="${session.isLogOn}"><a th:href="@{/member/memberForm.do}">회원가입</a></li>
            <li><a href="#">고객센터</a></li>
			<!-- 관리자 전용 링크: null 체크 추가 -->
	       <li th:if="${session.isLogOn != null and session.isLogOn and memberInfo != null and memberInfo.member_id == 'admin'}">
	           <a th:href="@{/admin/goods/adminGoodsMain.do}">관리자</a>
	       </li>
        </ul>
    </div>
    <br />
    <div id="search">
        <form name="frmSearch" th:action="@{/goods/searchGoods.do}">
            <input name="searchWord" class="main_input" type="text" onkeyup="keywordSearch()" />
            <input type="submit" name="search" class="btn1" value="검 색" />
        </form>
    </div>
    <div id="suggest"><div id="suggestList"></div></div>
</div>
</body>
</html>