<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
  <meta charset="utf-8">
  <title>새상품 등록창</title>
</head>
<body>
<section>
<script type="text/javascript">
  function fn_add_new_goods(form) {
    const formData = new FormData();

    // 1) 파일 추가 (메인 이미지 필수)
    const mainImage = document.querySelector('#f_main_image').files[0];
    if (!mainImage) {
      alert("메인 이미지는 반드시 첨부해야 합니다.");
      return;
    }
    formData.append("main_image", mainImage);

    // detail_image들 추가
    document.querySelectorAll('input[type="file"][name^="detail_image"]').forEach((input, idx) => {
      if (input.files.length > 0) {
        formData.append(`detail_image_${idx}`, input.files[0]);
      }
    });

    // 2) 나머지 text/date/select 값 JSON으로 묶기
    const goodsData = {};
    form.querySelectorAll("input:not([type=file]), select, textarea").forEach(el => {
      goodsData[el.name] = el.value;
    });

    formData.append("goodsData", JSON.stringify(goodsData));

    // 3) AJAX 전송
    fetch("/admin/goods/addNewGoods.do", {
      method: "post",
      body: formData
    })
      .then(res => res.text())
      .then(result => {
        alert("상품이 등록되었습니다.");
        console.log(result);
      })
      .catch(err => {
        console.error(err);
        alert("상품 등록 중 오류 발생");
      });
  }
  
  
  let detailImageCount = 0;

  // 메인 이미지 미리보기
  function previewMainImage(event) {
      const img = document.getElementById("preview_main");
      img.src = URL.createObjectURL(event.target.files[0]);
  }

  // 상세 이미지 동적 추가
  function addDetailImage() {
      detailImageCount++;
      const container = document.getElementById("detail_images_container");

      const wrapper = document.createElement("div");
      wrapper.style.marginTop = "10px";

      const fileInput = document.createElement("input");
      fileInput.type = "file";
      fileInput.name = "detail_image_" + detailImageCount;
      fileInput.accept = "image/*";
      fileInput.onchange = (e) => {
          imgPreview.src = URL.createObjectURL(e.target.files[0]);
      };

      const imgPreview = document.createElement("img");
      imgPreview.style.maxWidth = "200px";
      imgPreview.style.marginLeft = "10px";

      wrapper.appendChild(fileInput);
      wrapper.appendChild(imgPreview);

      container.appendChild(wrapper);
  }  
	  
</script>
  <form th:action="@{/admin/goods/addNewGoods.do}" method="post" enctype="multipart/form-data">
    <h1>새상품 등록창</h1>
    <div class="tab_container">
      <ul class="tabs">
        <li><a href="#tab1">상품정보</a></li>
        <li><a href="#tab2">상품목차</a></li>
        <li><a href="#tab3">상품저자소개</a></li>
        <li><a href="#tab4">상품소개</a></li>
        <li><a href="#tab5">출판사 상품 평가</a></li>
        <li><a href="#tab6">추천사</a></li>
        <li><a href="#tab7">상품이미지</a></li>
      </ul>
      <div class="tab_container">
        <div class="tab_content" id="tab1">
          <table>
            <tr>
              <td width="200">제품분류</td>
              <td width="500">
                <select name="goodsSort">
                  <option value="컴퓨터와 인터넷" selected>컴퓨터와 인터넷</option>
                  <option value="디지털 기기">디지털 기기</option>
                </select>
              </td>
            </tr>
            <tr><td>제품이름</td><td><input name="goodsTitle" type="text" size="40" /></td></tr>
            <tr><td>저자</td><td><input name="goodsWriter" type="text" size="40" /></td></tr>
            <tr><td>출판사</td><td><input name="goodsPublisher" type="text" size="40" /></td></tr>
            <tr><td>제품정가</td><td><input name="goodsPrice" type="text" size="40" /></td></tr>
            <tr><td>제품판매가격</td><td><input name="goodsSalesPrice" type="text" size="40" /></td></tr>
            <tr><td>제품 구매 포인트</td><td><input name="goodsPoint" type="text" size="40" /></td></tr>
            <tr><td>제품출판일</td>
				<td>
					<input name="goodsPublishedDate" type="date" size="40"
									           th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />
				</td>
			</tr>
			<tr><td>제품 총 페이지수</td><td><input name="goodsTotalPage" type="text" size="40" /></td></tr>
            <tr><td>ISBN</td><td><input name="goodsIsbn" type="text" size="40" /></td></tr>
            <tr><td>제품 배송비</td><td><input name="goodsDeliveryPrice" type="text" size="40" /></td></tr>
            
			<tr><td>제품 도착 예정일</td>
				<td>
					<input name="goodsDeliveryDate" type="date" size="40" 
							th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />
				</td>
			</tr>
            <tr>
              <td>제품종류</td>
              <td>
                <select name="goodsStatus">
                  <option value="bestseller">베스트셀러</option>
                  <option value="steadyseller">스테디셀러</option>
                  <option value="newbook" selected>신간</option>
                  <option value="on_sale">판매중</option>
                  <option value="buy_out">품절</option>
                  <option value="out_of_print">절판</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="tab_content" id="tab2">
          <h4>책목차</h4>
          <table>
            <tr><td>책목차</td><td><textarea rows="100" cols="80" name="goodsContentsOrder"></textarea></td></tr>
          </table>
        </div>

       <div class="tab_content" id="tab3">
         <h4>제품 저자 소개</h4>
          <table>
            <tr><td>제품 저자 소개</td><td><textarea rows="100" cols="80" name="goodsWriterIntro"></textarea></td></tr>
          </table>
        </div>

        <div class="tab_content" id="tab4">
          <h4>제품소개</h4>
          <table>
            <tr><td>제품소개</td><td><textarea rows="100" cols="80" name="goodsIntro"></textarea></td></tr>
          </table>
        </div>

        <div class="tab_content" id="tab5">
          <h4>출판사 제품 평가</h4>
          <table>
            <tr><td>출판사 제품 평가</td><td><textarea rows="100" cols="80" name="goodsPublisherComment"></textarea></td></tr>
          </table>
        </div>

        <div class="tab_content" id="tab6">
          <h4>추천사</h4>
          <table>
            <tr><td>추천사</td><td><textarea rows="100" cols="80" name="goodsRecommendation"></textarea></td></tr>
          </table>
        </div>
        <div class="tab_content" id="tab7">
          <h4>상품이미지</h4>
		  <div>
		          <label>메인 이미지 (필수)</label><br>
		          <input type="file" name="main_image" id="f_main_image" accept="image/*" onchange="previewMainImage(event)">
		          <br>
		          <img id="preview_main" style="max-width:200px; margin-top:5px;">
		      </div>

		      <br>

		      <div id="detail_images_container">
		          <!-- 상세 이미지들이 여기에 추가됨 -->
		      </div>

		      <button type="button" onclick="addDetailImage()">상세 이미지 추가</button>
        </div>

      <div class="clear"></div>
      <center>
        <table>
          <tr>
            <td align="center">
              <input type="button" value="상품 등록하기" onclick="fn_add_new_goods(this.form)" />
            </td>
          </tr>
        </table>
      </center>
    </div>
  </form>
  </section>
 </body>
</html>
