<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>상품 수정</title>
</head>
<body>
<section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:inline="javascript">
    function fn_modify_goods(goodsId, attribute) {
      var frm_mod_goods = document.frm_mod_goods;
      var value = frm_mod_goods[attribute]?.value || '';
      
      $.ajax({
        type: "post",
        url: '/admin/goods/modifyGoodsInfo.do',
        data: {
          goodsId: goodsId,
          attribute: attribute,
          value: value
        },
        success: function (data) {
          if (data.trim() === 'modSuccess') {
            alert("상품 정보를 수정했습니다.");
          } else {
            alert("다시 시도해 주세요.");
          }
        },
        error: function (xhr) {
          alert("에러가 발생했습니다." + xhr.statusText);
        }
      });
    }

    function readURL(input, preview) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById(preview).src = e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    var cnt = 1;
    function fn_addImageFile() {
      const container = document.getElementById("d_file");
      container.insertAdjacentHTML("beforeend",
        `<br><input type='file' name='detail_image${cnt}' id='detail_image${cnt}' onchange="readURL(this, 'previewImage${cnt}')" />
         <img id='previewImage${cnt}' width='80%' />
         <input type='button' value='상세이미지추가' onclick="addNewImageFile('detail_image${cnt}', [[${ goodsMap.imageFileList[0].goodsId}]], 'detail_image')" />`
      );
      cnt++;
    }
	
	function addNewImageFile(fileId, goods_id, fileType) {
	    var formData = new FormData();
	    formData.append("uploadFile", document.getElementById(fileId).files[0]);
	    formData.append("goods_id", goods_id);
	    formData.append("fileType", fileType);

	    $.ajax({
	      url: '/admin/goods/addNewGoodsImage.do',
	      processData: false,
	      contentType: false,
	      data: formData,
	      type: 'post',
	      success: function () {
	        alert("이미지를 추가했습니다!");
	      }
	    });
	  }
	
	function onClickModifyImageFile(button) {
	  const goodsId = button.getAttribute('data-goodsId');
	  const imageId = button.getAttribute('data-imageId');
	  const fileType = button.getAttribute('data-fileType');
	  const fileId = button.getAttribute('data-fileId');
	  modifyImageFile(fileId, goodsId, imageId, fileType);
	}

	
	function modifyImageFile(fileId, goods_id, image_id, fileType){
	  // alert(fileId);
	  var form = $('#FILE_FORM')[0];
	    var formData = new FormData(form);
	    formData.append("fileName", $('#'+fileId)[0].files[0]);
	    formData.append("goodsId", goodsId);
	    formData.append("imageId", imageId);
	    formData.append("fileType", fileType);
	    
	    $.ajax({
	      url: '/admin/goods/modifyGoodsImageInfo.do',
	      processData: false,
	      contentType: false,
	      data: formData,
	      type: 'POST',
	      success: function(result){
	          alert("이미지를 수정했습니다!");
	       }
	    });
	}

	function onClickDeleteImageFile(button) {
	  const goodsId = button.dataset.goodsId;
	  const imageId = button.dataset.imageId;
	  const fileName = button.dataset.fileName;
	  const rowId = button.dataset.rowId;

	  deleteImageFile(goodsId, imageId, fileName, rowId);
	}

  

    function deleteImageFile(goodsId, imageId, imageFileName, trId) {
      const row = document.getElementById(trId);

      $.ajax({
        type: "post",
        url: '/admin/goods/removeGoodsImage.do',
        data: {
          goodsId: goodsId,
          imageId: imageId,
          imageFileName: imageFileName
        },
        success: function () {
          alert("이미지를 삭제했습니다!");
          row.style.display = 'none';
        },
        error: function () {
          alert("에러가 발생했습니다.");
        }
      });
    }
  </script>	
<form name="frm_mod_goods" method="post" th:object="${goodsMap.goods}">
  <div id="container">
    <ul class="tabs">
      <li><a href="#tab1">상품정보</a></li>
      <li><a href="#tab2">상품목차</a></li>
      <li><a href="#tab3">상품저자소개</a></li>
      <li><a href="#tab4">상품소개</a></li>
      <li><a href="#tab5">출판사 상품 평가</a></li>
      <li><a href="#tab6">추천사</a></li>
      <li><a href="#tab7">상품이미지</a></li>
    </ul>
	<div class="tab_container">
	     <div class="tab_content" id="tab1">
	       <table>
	         <tr>
	           <td>상품분류</td>
	           <td>
	             <select name="goodsSort" 
	                     th:value="${goodsMap['goods'].goodsSort}">
	               <option value="컴퓨터와 인터넷"
	                       th:selected="${goodsMap['goods'].goodsSort == '컴퓨터와 인터넷'}">
	                 컴퓨터와 인터넷
	               </option>
	               <option value="디지털 기기"
	                       th:selected="${goodsMap['goods'].goodsSort == '디지털 기기'}">
	                 디지털 기기
	               </option>
	             </select>
	           </td>
	           <td>
	             <input type="button" th:value="수정반영"
	                    th:onclick="'fn_modify_goods(\'' + ${goodsMap['goods'].goodsId} + '\', \'goodsSort\')'" />
	           </td>
	         </tr>

	         <tr>
	           <td>상품이름</td>
	           <td>
	             <input type="text" name="goodsTitle"  th:value="${goodsMap['goods'].goodsTitle}" />
	           </td>
	           <td>
	             <input type="button" value="수정반영"
	                    th:onclick="'fn_modify_goods(\'' + ${goodsMap['goods'].goodsId} + '\', \'goodsTitle\')'" />
	           </td>
	         </tr>

			 <tr>
	 			<td >저자</td>
	 			<td><input name="goodsWriter" type="text" size="40"  th:value="${goodsMap['goods'].goodsWriter }" /></td>
	 							<td>
	 			 <input  type="button" value="수정반영"  
				 			th:onclick="'fn_modify_goods(\'' + ${goodsMap['goods'].goodsId} + '\', \'goodsWriter\')'" />
	 			</td>
	 			
	 		</tr>
	 		<tr>
	 			<td >출판사</td>
	 			<td><input name="goodsPublisher" type="text" size="40"  th:value="${goodsMap['goods'].goodsPublisher }" /></td>
	 		     <td>
	 			  <input  type="button" value="수정반영"  th:onclick="fn_modify_goods('${goodsMap['goods'].goodsId }','goodsPublisher')"/>
	 			</td>
	 			
	 		</tr>
	 		<tr>
	 			<td >상품정가</td>
	 			<td><input name="goodsPrice" type="text" size="40" th:value="${goodsMap['goods'].goodsPrice }" /></td>
	 			<td>
	 			 <input  type="button" value="수정반영"  th:onclick="fn_modify_goods('${goodsMap['goods'].goodsId }','goodsPrice')"/>
	 			</td>
	 			
	 		</tr>
			 		
		 		<tr>
		 			<td >상품판매가격</td>
		 			<td><input name="goodsSalesPrice" type="text" size="40" th:value="${goodsMap['goods'].goodsSalesPrice }" /></td>
		 			<td>
		 			 <input  type="button" value="수정반영"  th:onclick="fn_modify_goods('${goodsMap['goods'].goodsId }','goodsSalesPrice')"/>
		 			</td>
		 			
		 		</tr>
		 		
		 		
		 		<tr>
		 			<td >상품 구매 포인트</td>
		 			<td><input name="goodsPoint" type="text" size="40" th:value="${goodsMap['goods'].goodsPoint }" /></td>
		 			<td>
						<input type="button" value="수정반영"
						       th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId}', 'goodsPoint')|"/>
		 			</td>

		 		</tr>

		 		<tr>
		 			<td >상품출판일</td>
		 			<td>
		 			  <input  name="goodsPublishedDate"  type="date"  th:value="${goodsMap['goods'].goodsPublishedDate }" />
		 			</td>
		 			<td>
						<input type="button" value="수정반영"
						       th:onclick="|fn_modify_goods(${goodsMap['goods'].goodsId}, 'goodsPublishedDate')|"/>
		 			</td>
		 		</tr>
				<tr>
		 			<td >상품입고일</td>
		 			<td>
		 			  <input  name="goodsCredate"  type="date"  th:value="${goodsMap['goods'].goodsCredate }" />
		 			</td>
		 			<td>
						<input type="button" value="수정반영"
						       th:onclick="|fn_modify_goods(${goodsMap['goods'].goodsId}, 'goodsCredate')|"/>
		 			</td>
		 		</tr>
		 		
		 		<tr>
		 			<td >상품 총 페이지수</td>
		 			<td><input name="goodsTotalPage" type="text" size="40"  th:value="${goodsMap['goods'].goodsTotalPage }"/></td>
		 			<td>
		 			 <input  type="button" value="수정반영"  th:onclick="|fn_modify_goods(${goodsMap['goods'].goodsId},'goodsTotalPage')|"/>
		 			</td>

		 		</tr>
		 		
		 		<tr>
		 			<td >ISBN</td>
		 			<td><input name="goodsIsbn" type="text" size="40" th:value="${goodsMap['goods'].goodsIsbn}" /></td>
		 			<td>
		 			 <input  type="button" value="수정반영"  th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId }','goodsIsbn')|"/>
		 			</td>

		 		</tr>
		 		<tr>
		 			<td >상품 배송비</td>
		 			<td><input name="goodsDeliveryPrice" type="text" size="40"  th:value="${goodsMap['goods'].goodsDeliveryPrice }"/></td>
		 			<td>
		 			 <input  type="button" value="수정반영"  th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId }','goodsDeliveryPrice')|"/>
		 			</td>

		 		</tr>
		 		<tr>
		 			<td >상품 도착 예정일</td>
		 			<td>
		 			  <input name="goodsDeliveryDate" type="date"  th:value="${goodsMap['goods'].goodsDeliveryDate }" />
		 			  </td>
		 			<td>
		 			 <input  type="button" value="수정반영"  th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId}','goodsDeliveryDate')|"/>
		 			</td>

		 		</tr>
				<tr>
				  <td>상품종류</td>
				  <td>
				    <select name="goodsStatus">
				      <option value="bestseller"
				              th:selected="${goodsMap['goods'].goodsStatus == 'bestseller'}">베스트셀러</option>
				      <option value="steadyseller"
				              th:selected="${goodsMap['goods'].goodsStatus == 'steadyseller'}">스테디셀러</option>
				      <option value="newbook"
				              th:selected="${goodsMap['goods'].goodsStatus == 'newbook'}">신간</option>
				      <option value="on_sale"
				              th:selected="${goodsMap['goods'].goodsStatus == 'on_sale'}">판매중</option>
				      <option value="buy_out"
				              th:selected="${goodsMap['goods'].goodsStatus == 'buy_out'}">품절</option>
				      <option value="out_of_print"
				              th:selected="${goodsMap['goods'].goodsStatus == 'out_of_print'}">절판</option>
				    </select>
				    <input type="hidden" name="h_goods_status" th:value="${goodsMap['goods'].goodsStatus}" />
				  </td>
				  <td>
				    <input type="button" value="수정반영"
				           th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId}', 'goodsStatus')|" />
				  </td>
				</tr>
				<tr>
				 <td colspan=3>
				   <br>
				 </td>
				</tr>
	       </table>
	     </div>
		 <div class="tab_content" id="tab2">
		   <h4>책목차</h4>
		   <table>
		     <tr>
		       <td>상품목차</td>
		       <td>
		         <textarea rows="100" cols="80" name="goodsContentsOrder"
		                   th:text="${goodsMap['goods'].goodsContentsOrder}">
				 </textarea>
		       </td>
		       <td>
		         &nbsp;&nbsp;&nbsp;&nbsp;
		         <input type="button" value="수정반영"
		                th:onclick="'fn_modify_goods(\'' + ${goodsMap['goods'].goodsId} + '\', \'goodsContentsOrder\')'" />
		       </td>
		     </tr>
		   </table>
		 </div>
		 <div class="tab_content" id="tab3">
		   <h4>상품 저자 소개</h4>
		   <p>
		     <table>
		       <tr>
		         <td>상품 저자 소개</td>
		         <td>
		           <textarea rows="100" cols="80" name="goodsWriterIntro"
		                     th:text="${goodsMap['goods'].goodsWriterIntro}"></textarea>
		         </td>
		         <td>
		           &nbsp;&nbsp;&nbsp;&nbsp;
		           <input type="button" value="수정반영"
		                  th:onclick="'fn_modify_goods(\'' + ${goodsMap['goods'].goodsId} + '\', \'goodsWriterIntro\')'" />
		         </td>
		       </tr>
		     </table>
		   </p>
		 </div>
		 <DIV class="tab_content" id="tab4">
		 	<H4>상품소개</H4>
		 	<P>
		 	<table>
		 		<tr>
		 			<td>상품소개</td>
		 			<td><textarea  rows="100" cols="80" name="goodsIntro"  th:text="${goodsMap['goods'].goodsIntro}">
		 			</textarea>
		 			</td>
		 			<td>
		 			&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="button" value="수정반영"
					       th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId}', 'goodsIntro')|"/>
		 			</td>
		 		</tr>
		     </table>
		 	</P>
		 </DIV>
		 <DIV class="tab_content" id="tab5">
		 	<H4>출판사 상품 평가</H4>
		 	<P>
		 	<table>
		 		<tr>
		 			<td><textarea  rows="100" cols="80" name="goodsPublisherComment"  th:text="${goodsMap['goods'].goodsPublisherComment}">
		 			</textarea>
		 			</td>
		 			<td>
		 			&nbsp;&nbsp;&nbsp;&nbsp;
		 			 <input  type="button" value="수정반영"  th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId}', 'goodsPublisherComment')|"/>
		 			</td>
		 		</tr>
		 </table>
		 	</P>
		 </DIV>
		 <DIV class="tab_content" id="tab6">
		 	<H4>추천사</H4>
		 	 <table>
		 		 <tr>
		 			<td>추천사</td>
		 			<td><textarea  rows="100" cols="80" name="goodsRecommendation" th:text="${goodsMap['goods'].goodsRecommendation}">
		 			</textarea>
		 			</td>
		 			<td>
		 			&nbsp;&nbsp;&nbsp;&nbsp;
		 			 <input  type="button" value="수정반영"  th:onclick="|fn_modify_goods('${goodsMap['goods'].goodsId}', 'goodsRecommendation')|"/>
		 			</td>
		 		</tr>
		     </table>
		 </DIV>
		 

      <div class="tab_content" id="tab7">
		<form id="FILE_FORM" method="post" enctype="multipart/form-data">
		    <h4>상품이미지</h4>
		    <table>
		      <tr th:each="image, stat : ${goodsMap['imageFileList']}" th:id="'row_' + ${stat.index}">
		        <td th:text="${image.fileType == 'main_image' ? '메인 이미지' : '상세 이미지 ' + stat.index}"></td>
		        <td>
		          <input type="file"
		                 th:id="'file_' + ${stat.index}"
		                 th:name="'file_' + ${stat.index}"
		                 th:onchange="|readURL(this, 'preview${stat.index}')|"/>
		          <input type="hidden" name="image_id" th:value="${image.imageId}"/>
		        </td>
		        <td>
		          <img th:id="'preview' + ${stat.index}"
		               width="80%"
		               th:src="@{/download.do(goodsId=${image.goodsId}, fileName=${image.fileName})}"/>
		        </td>
		        <td>
					<input type="button" value="수정반영하기"
					       th:id="'btn_' + ${stat.index}"
					       th:data-goods-id="${image.goodsId}"
					       th:data-image-id="${image.imageId}"
					       th:data-file-type="${image.fileType}"
						   th:data-file-id="'file_' + ${stat.index}"
					       onclick="onClickModifyImageFile(this)" />
					
				   <input type="button" value="이미지삭제"
				          th:if="${image.fileType != 'main_image'}"
				          th:id="'delbtn_' + ${stat.index}"
				          th:data-goods-id="${image.goodsId}"
				          th:data-image-id="${image.imageId}"
				          th:data-file-name="${image.fileName}"
				          th:data-row-id="'row_' + ${stat.index}"
				          onclick="onClickDeleteImageFile(this)" />
		        </td>
		      </tr>
		    </table>
		    <div id="d_file"></div>
		    <input type="button" value="이미지파일추가하기" onclick="fn_addImageFile()"/>
		  </form>
      </div>
    </div>
  </div>
</form>
<DIV class="clear"></DIV>
</section>
</body>
</html>
