<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
	<style>
	#layer {
		z-index: 2;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
	}

	#popup {
		z-index: 3;
		position: fixed;
		text-align: center;
		left: 50%;
		top: 45%;
		width: 300px;
		height: 200px;
		background-color: #ccffff;
		border: 3px solid #87cb42;
	}

	#close {
		z-index: 4;
		float: right;
	}
	</style>
	  <title th:text="${goodsMap.goodsVO.goodsTitle}">상품 상세</title>
</head>
<body>
<section>
	<!-- ✅ 여기에 script 정의 -->
		<script src="/jquery/jquery-1.6.2.min.js"></script>
	  <script type="text/javascript">
	    function handleAddCartClick(el) {
	      const goodsId = el.getAttribute("data-goodsId");
		  const goodsPrice = el.getAttribute("data-goodsPrice");

	      $.ajax({
	        type: "post",
	        async: false,
	        url: "/cart/addGoodsInCart.do",
	        data: { goodsId: goodsId,
					goodsPrice: goodsPrice },
	        success: function (data) {
	          if (data.trim() === "addSuccess") {
	            imagePopup("open");
	          } else if (data.trim() === "alreadyExisted") {
	            alert("이미 카트에 등록된 상품입니다.");
	          }
	        },
	        error: function () {
	          alert("에러가 발생했습니다.");
	        }
	      });
	    }

	    function handleBuyClick(el) {
	      const isLogOn = document.getElementById("isLogOn").value;
	      if (!isLogOn || isLogOn === "false") {
	        alert("로그인 후 주문이 가능합니다!");
	      }

	      const goodsId = el.getAttribute("data-goodsId");
	      const goodsTitle = el.getAttribute("data-goodsTitle");
	      const goodsPrice = el.getAttribute("data-goodsPrice");
		  const goodsSalesPrice = el.getAttribute("data-goodsSalesPrice");
	      const goodsFileName = el.getAttribute("data-goodsFileName");
	      const orderGoodsQty = document.getElementById("order_goods_qty").value;

	      const form = document.createElement("form");
	      form.method = "post";
	      form.action = "/order/orderEachGoods.do";

	      const fields = {
	        goodsId: goodsId,
	        goodsTitle: goodsTitle,
			goodsPrice: goodsPrice,
			goodsSalesPrice: goodsSalesPrice,
	        goodsFileName: goodsFileName,
	        orderGoodsQty: orderGoodsQty
	      };

	      for (let key in fields) {
	        const input = document.createElement("input");
	        input.type = "hidden";
	        input.name = key;
	        input.value = fields[key];
	        form.appendChild(input);
	      }

	      document.body.appendChild(form);
	      form.submit();
	    }

	    function imagePopup(type) {
	      if (type === "open") {
	        $('#layer').css('visibility', 'visible');
	        $('#layer').height($(document).height());
	      } else {
	        $('#layer').css('visibility', 'hidden');
	      }
	    }
	  </script>	
  <hgroup>
    <h1>컴퓨터와 인터넷</h1>
    <h2>국내외 도서 &gt; 컴퓨터와 인터넷 &gt; 웹 개발</h2>
    <h3 th:text="${goodsMap.goodsVO.goodsTitle}"></h3>
    <h4 th:text="${goodsMap.goodsVO.goodsWriter} + ' 저 | ' + ${goodsMap.goodsVO.goodsPublisher}"></h4>
  </hgroup>

  <div id="goods_image">
    <figure>
      <img width="121" height="154" 
	       th:src="@{/thumbnails.do(goodsId=${goodsMap.goodsVO.goodsId},fileName=${goodsMap.goodsVO.goodsFileName})}" alt="책 이미지">
    </figure>
  </div>

  <div id="detail_table">
    <table>
      <tr>
        <td class="fixed">정가</td>
        <td class="active">
          <span th:text="${#numbers.formatInteger(goodsMap.goodsVO.goodsPrice, 3, 'COMMA')} "></span><span>원</span>
        </td>
      </tr>
      <tr class="dot_line">
        <td class="fixed">판매가</td>
        <td class="active">
          <span th:text="${#numbers.formatInteger(goodsMap.goodsVO.goodsSalesPrice , 3, 'COMMA')}"></span><span>원(10%할인)</span>
        </td>
      </tr>
      <tr>
        <td class="fixed">포인트적립</td>
        <td class="active" th:text="${goodsMap.goodsVO.goodsPoint} + 'P(10%적립)'"></td>
      </tr>
      <tr class="dot_line">
        <td class="fixed">포인트 추가적립</td>
        <td class="fixed">만원이상 구매시 1,000P, 5만원이상 구매시 2,000P 추가적립 편의점 배송 이용시 300P 추가적립</td>
      </tr>
      <tr>
        <td class="fixed">발행일</td>
        <td class="fixed" th:text="${#dates.format(goodsMap.goodsVO.goodsPublishedDate, 'yyyy-MM-dd')}"></td>
      </tr>
      <tr>
        <td class="fixed">페이지 수</td>
        <td class="fixed" th:text="${goodsMap.goodsVO.goodsTotalPage + '쪽'}"></td>
      </tr>
      <tr class="dot_line">
        <td class="fixed">ISBN</td>
        <td class="fixed" th:text="${goodsMap.goodsVO.goodsIsbn}"></td>
      </tr>
      <tr>
        <td class="fixed">배송료</td>
        <td class="fixed"><strong>무료</strong></td>
      </tr>
      <tr>
        <td class="fixed">배송안내</td>
        <td class="fixed">
          <strong>[당일배송]</strong> 당일배송 서비스 시작!<br/>
          <strong>[휴일배송]</strong> 휴일에도 배송받는 Bookshop
        </td>
      </tr>
      <tr>
        <td class="fixed">도착예정일</td>
        <td class="fixed">지금 주문 시 내일 도착 예정</td>
      </tr>
      <tr>
        <td class="fixed">수량</td>
        <td class="fixed">
          <select id="order_goods_qty" style="width: 60px">
            <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option>
          </select>
        </td>
      </tr>
    </table>
	<ul>
	  <li>
	    <a class="buy"
	       href="javascript:void(0);"
	       th:attr="data-goodsId=${goodsMap.goodsVO.goodsId},
	                data-goodsTitle=${goodsMap.goodsVO.goodsTitle},
	                data-goodsPrice=${goodsMap.goodsVO.goodsPrice},
					data-goodsSalesPrice=${goodsMap.goodsVO.goodsSalesPrice},
	                data-goodsFileName=${goodsMap.goodsVO.goodsFileName}"
	       onclick="handleBuyClick(this)">구매하기</a>
	  </li>
	  <li>
	    <a class="cart"
	       href="javascript:void(0);"
	       th:attr="data-goodsId=${goodsMap.goodsVO.goodsId},
		   			data-goodsPrice=${goodsMap.goodsVO.goodsPrice}"
	       onclick="handleAddCartClick(this)">장바구니</a>
	  </li>
	  <li><a class="wish" href="#">위시리스트</a></li>
	</ul>
  </div>

  <div class="clear"></div>

  <div id="container">
    <ul class="tabs">
      <li><a href="#tab1">책소개</a></li>
      <li><a href="#tab2">저자소개</a></li>
      <li><a href="#tab3">책목차</a></li>
      <li><a href="#tab4">출판사서평</a></li>
      <li><a href="#tab5">추천사</a></li>
      <li><a href="#tab6">리뷰</a></li>
    </ul>
    <div class="tab_container">
      <div class="tab_content" id="tab1">
        <h4>책소개</h4>
        <p th:utext="${#strings.replace(goodsMap.goodsVO.goodsIntro, '\n', '<br/>')}"></p>
        <div th:each="image : ${goodsMap.imageList}">
          <img th:src="@{/download.do(goodsId=${goodsMap.goodsVO.goodsId}, fileName=${image.fileName})}" />
        </div>
      </div>
      <div class="tab_content" id="tab2">
        <h4>저자소개</h4>
        <div class="writer" th:text="'저자 : ' + ${goodsMap.goodsVO.goodsWriter}"></div>
        <p th:utext="${#strings.replace(goodsMap.goodsVO.goodsWriterIntro, '\n', '<br/>')}"></p>
      </div>
      <div class="tab_content" id="tab3">
        <h4>책목차</h4>
        <p th:utext="${goodsMap.goodsVO.goodsContentsOrder}"></p>
      </div>
      <div class="tab_content" id="tab4">
        <h4>출판사서평</h4>
        <p th:utext="${#strings.replace(goodsMap.goodsVO.goodsPublisherComment, '\n', '<br/>')}"></p>
      </div>
      <div class="tab_content" id="tab5">
        <h4>추천사</h4>
        <p th:utext="${#strings.replace(goodsMap.goodsVO.goodsRecommendation, '\n', '<br/>')}"></p>
      </div>
      <div class="tab_content" id="tab6">
        <h4>리뷰</h4>
      </div>
    </div>
  </div>
  <input type="hidden" name="isLogOn" id="isLogOn" th:value="${session.isLogOn}"/>

  <div id="layer" style="visibility: hidden;">
    <div id="popup" style="position: fixed; left: 50%; top: 45%; width: 300px; height: 200px; background-color: #ccffff; border: 3px solid #87cb42; text-align: center;">
      <a href="javascript:void(0);" onclick="imagePopup('close')">
        <img src="/image/close.png" alt="닫기" style="float:right;"/>
      </a>
      <br/>
      <div>장바구니에 담았습니다.</div>
      <br/>
      <form action="/cart/myCartMain.do">
        <input type="submit" value="장바구니 보기">
      </form>
    </div>
  </div>

  
</section>


</body>
</html>
