<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="utf-8">
    <title>주문 내역</title>
</head>
<body>
<section>
<h1>1. 최종 주문 내역서</h1>
<table class="list_view">
    <tbody align="center">
        <tr style="background: #33ff00">
            <td>주문번호</td>
            <td colspan="2" class="fixed">주문상품명</td>
            <td>수량</td>
            <td>정가</td>
            <td>배송비</td>
            <td>예상적립금</td>
			<td>할인액</td>
            <td>최종결제금액</td>
        </tr>
		<th:block th:each="entry : ${session.myOrderMap}">
		  <th:block th:with="myOrderList=${entry.value}">
        <tr th:each="item, iterStat : ${myOrderList}">
            <!--<td th:text="${orderId}"></td>-->
			<td th:if="${iterStat.index == 0}" th:rowspan="${#lists.size(myOrderList)}" style="background-color: #d0ebff;" >
				<h2 th:text="${orderId}"></h2>
			</td>
            <td class="goods_image">
                <a th:href="@{/goods/goodsDetail.do(goodsId=${item.goodsId})}">
                    <img width="75" th:src="@{/thumbnails.do(goodsId=${item.goodsId},fileName=${item.goodsFileName})}" alt="">
                </a>
            </td>
            <td>
                <h2>
                    <a th:href="@{/goods/goodsDetail.do(goodsId=${item.goodsId})}" 
                       th:text="${item.goodsTitle}"></a>
                </h2>
            </td>
            <td><h2 th:text="${item.orderGoodsQty} + '개'"></h2></td>
            <td><h2 th:text="${item.orderGoodsQty * item.goodsPrice} + '원'"></h2></td>
            <td><h2>0원</h2></td>
            <td><h2 th:text="${1500 * item.orderGoodsQty} + '원'"></h2></td>
			<td><h2 th:text="${item.orderGoodsQty * item.goodsDiscountPrice} + '원'"></h2></td>
			<td th:if="${iterStat.index == 0}" 
		    	  th:rowspan="${#lists.size(myOrderList)}" 
		     			 style="background-color: #e0f7da;">
		    	<h2 th:text="${session.finalTotalOrdersPrice} + '원'"></h2>
		 	</td>
          </tr>
		   </th:block>
		</th:block>
    </tbody>
</table>

<div class="clear"></div>

<form name="form_order">
    <h1>2. 배송지 정보</h1>
    <div class="detail_table">
        <table>
            <tbody>
                <tr class="dot_line">
                    <td class="fixed_join">배송방법</td>
                    <td th:text="${myOrderInfo.deliveryMethod}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">받으실 분</td>
                    <td th:text="${myOrderInfo.receiverName}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">휴대폰번호</td>
                    <td th:text="${myOrderInfo.receiverHp1 +'-'+ myOrderInfo.receiverHp2 +'-'+ myOrderInfo.receiverHp3}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">유선전화(선택)</td>
                    <td th:text="${myOrderInfo.receiverTel1 +'-'+ myOrderInfo.receiverTel2 +'-'+ myOrderInfo.receiverTel3}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">주소</td>
                    <td th:utext="${myOrderInfo.deliveryAddress}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">배송 메시지</td>
                    <td th:text="${myOrderInfo.deliveryMessage}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">선물 포장</td>
                    <td th:text="${myOrderInfo.giftWrapping}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>
    <h2>주문고객</h2>
    <table>
        <tbody>
			<tr class="dot_line">
                <td><h2>아이디</h2></td>
                <td><input type="text" th:value="${session.orderer.memberId}" size="15" disabled /></td>
            </tr>
            <tr class="dot_line">
                <td><h2>이름</h2></td>
                <td><input type="text" th:value="${session.orderer.memberName}" size="15" disabled /></td>
            </tr>
            <tr class="dot_line">
                <td><h2>핸드폰</h2></td>
                <td>
                    <input type="text" th:value="${session.orderer.hp1 + '-' + session.orderer.hp2 + '-' + session.orderer.hp3}" size="15" disabled />
                </td>
            </tr>
            <tr class="dot_line">
                <td><h2>이메일</h2></td>
                <td>
                    <input type="text" th:value="${session.orderer.email1 + '@' + session.orderer.email2}" size="15" disabled />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="clear"></div>

    <br><br><br>
    <h1>3. 결제정보</h1>
    <div class="detail_table">
        <table>
            <tbody>
                <tr class="dot_line">
                    <td class="fixed_join">결제방법</td>
                    <td th:utext="${myOrderInfo.payMethod}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">결제카드</td>
                    <td th:text="${myOrderInfo.cardComName}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">할부기간</td>
                    <td th:text="${myOrderInfo.cardPayMonth}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<div class="clear"></div>

<br><br><br>
<center>
    <a th:href="@{/main/main.do}">
        <img width="75" alt="쇼핑 계속하기" src="/image/btn_shoping_continue.jpg">
    </a>
</center>

<div class="clear"></div>
</section>
</body>
</html>
