<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">

<head>
  <title>회원 로그인</title>
</head>

<body>
<section>
<script th:if="${message != null}">
   window.onload = function () {
     alert("아이디나 비밀번호가 틀립니다. 다시 로그인해주세요");
   }
 </script>
	 
  <h3>회원 로그인 창</h3>
  <div id="detail_table">
    <form th:action="@{/member/login.do}" method="post">
      <table>
        <tbody>
          <tr class="dot_line">
            <td class="fixed_join">아이디</td>
            <td><input type="text" name="memberId" size="20" /></td>
          </tr>
          <tr class="solid_line">
            <td class="fixed_join">비밀번호</td>
            <td><input type="password" name="memberPw" size="20" /></td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <input type="submit" value="로그인" />
      <input type="reset" value="초기화" />
      <br><br>
      <a href="#">아이디 찾기</a> |
      <a href="#">비밀번호 찾기</a> |
      <a th:href="@{/member/addMember.do}">회원가입</a> |
      <a href="#">고객 센터</a>
    </form>
  </div>
</section>
</body>
</html>