<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
  <meta charset="utf-8">
  <title>내주문이력</title>
 
</head>
<body>
<section>
<script  th:inline="javascript">
   function search_order_history(fixedSearchPeriod){
       const formObj = document.createElement("form");
       const i_fixedSearch_period = document.createElement("input");
       i_fixedSearch_period.name = "fixedSearchPeriod";
       i_fixedSearch_period.value = fixedSearchPeriod;
       formObj.appendChild(i_fixedSearch_period);
       document.body.appendChild(formObj);
       formObj.method = "get";
       formObj.action = "/mypage/listMyOrderHistory.do";
       formObj.submit();
   }

   function fn_cancel_order(order_id){
       const answer = confirm("주문을 취소하시겠습니까?");
       if(answer){
           const formObj = document.createElement("form");
           const i_order_id = document.createElement("input");
           i_order_id.name = "order_id";
           i_order_id.value = order_id;
           formObj.appendChild(i_order_id);
           document.body.appendChild(formObj);
           formObj.method = "post";
           formObj.action = "/mypage/cancelMyOrder.do";
           formObj.submit();
       }
   }
 </script>	
  <h3>주문 배송 조회</h3>
  <form method="post">
    <table>
      <tbody>
        <tr>
          <td>
            <input type="radio" name="simple" checked/> 간단조회
            <input type="radio" name="simple"/> 일간
            <input type="radio" name="simple"/> 월간
          </td>
        </tr>
        <tr>
          <td>
            <select name="curYear">
              <option th:each="i : ${#numbers.sequence(0, 5)}"
                      th:value="${endYear - i}"
                      th:selected="${endYear == endYear - i}"
                      th:text="${endYear - i}"></option>
            </select>년
            <select name="curMonth">
              <option th:each="i : ${#numbers.sequence(1, 12)}"
                      th:value="${i}"
                      th:selected="${endMonth == i}"
                      th:text="${i}"></option>
            </select>월
            <select name="curDay">
              <option th:each="i : ${#numbers.sequence(1, 31)}"
                      th:value="${i}"
                      th:selected="${endDay == i}"
                      th:text="${i}"></option>
            </select>일 &nbsp;이전
            <a href="javascript:search_order_history('today')"><img src="/image/btn_search_one_day.jpg" /></a>
            <a href="javascript:search_order_history('one_week')"><img src="/image/btn_search_1_week.jpg" /></a>
            <a href="javascript:search_order_history('two_week')"><img src="/image/btn_search_2_week.jpg" /></a>
            <a href="javascript:search_order_history('one_month')"><img src="/image/btn_search_1_month.jpg" /></a>
            <a href="javascript:search_order_history('two_month')"><img src="/image/btn_search_2_month.jpg" /></a>
            <a href="javascript:search_order_history('three_month')"><img src="/image/btn_search_3_month.jpg" /></a>
            <a href="javascript:search_order_history('four_month')"><img src="/image/btn_search_4_month.jpg" /></a>
            &nbsp;까지 조회
          </td>
        </tr>
        <tr>
          <td>
            <select name="search_condition">
              <option value="2015" selected>전체</option>
              <option value="2014">수령자</option>
              <option value="2013">주문자</option>
              <option value="2012">주문번호</option>
            </select>
            <input type="text" size="30" />
            <input type="button" value="조회"/>
          </td>
        </tr>
        <tr>
          <td>
            조회한 기간:
            <input type="text" size="4" th:value="${beginYear}"/>년
            <input type="text" size="4" th:value="${beginMonth}"/>월
            <input type="text" size="4" th:value="${beginDay}"/>일 ~
            <input type="text" size="4" th:value="${endYear}"/>년
            <input type="text" size="4" th:value="${endMonth}"/>월
            <input type="text" size="4" th:value="${endDay}"/>일
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <table class="list_view">
      <tbody align="center">
        <tr style="background:#33ff00">
          <td class="fixed">주문번호</td>
          <td class="fixed">주문일자</td>
          <td>주문내역</td>
          <td>주문금액/수량</td>
          <td>주문상태</td>
          <td>주문자</td>
          <td>수령자</td>
          <td>주문취소</td>
        </tr>
		<tr th:each="entry : ${myOrderHistMap}">
				  <td th:text="${entry.key}">주문번호</td>
				  <th:block th:with="orderList=${entry.value}">
				  <!--<td th:text="${orderList[entryStat.count-1].pay_order_time}">주문일자</td>-->
				  <td th:if="${#lists.size(orderList) > 0}" th:text="${orderList[0].pay_order_time}">주문일자</td>
				  <td align='left' style="padding-left:30px;">
				    <ul>
				      <li th:each="item : ${entry.value}">
				        <span th:text="${item.goods_title}"></span> /
				        <span th:text="${item.order_goods_qty}"></span>개
				      </li>
				    </ul>
				  </td>
				  <td>
	  				<div th:each="item2 : ${orderList}">
	  		              <span th:text="${item2.goods_sales_price * item2.order_goods_qty + '원 / ' + item2.order_goods_qty + '개'}"></span><br/>
	  	            </div>
	  	          </td>
				  <td>
					<strong>
						<span th:switch="${orderList[0].delivery_state}">
			                <span th:case="'delivery_prepared'">배송준비중</span>
			                <span th:case="'delivering'">배송중</span>
			                <span th:case="'finished_delivering'">배송완료</span>
			                <span th:case="'cancel_order'">주문취소</span>
			                <span th:case="'returning_goods'">반품완료</span>
			                <span th:case="*">기타</span>
			            </span>
					</strong>
				  <td><strong th:text="${orderList[0].orderer_name}"></strong></td>
				  <td><strong th:text="${orderList[0].receiver_name}"></strong></td>
				  <td>
		            <input type="button" th:if="${orderList[0].delivery_state == 'delivery_prepared'}"
		                   th:onclick="'fn_cancel_order(' + ${entry.key} + ')'" value="주문취소"/>
		            <input type="button" th:if="${orderList[0].delivery_state != 'delivery_prepared'}"
		                   value="주문취소" disabled/>
		          </td>
				  </th:block>
				</tr>
      </tbody>
  </table>

 <!-- <table class="list_view">
    <tbody align="center">
      <tr style="background:#33ff00">
        <td class="fixed">주문번호</td>
        <td class="fixed">주문일자</td>
        <td>주문내역</td>
        <td>주문금액/수량</td>
        <td>주문상태</td>
        <td>주문자</td>
        <td>수령자</td>
        <td>주문취소</td>
      </tr>
      <tr th:if="${#lists.isEmpty(myOrderHistList)}">
        <td colspan="8" class="fixed"><strong>주문한 상품이 없습니다.</strong></td>
      </tr>
      <tr th:each="item, stat : ${myOrderHistList}" th:if="${stat.index == 0 or myOrderHistList[stat.index - 1].order_id != item.order_id}">
        <td>
          <a th:href="@{/mypage/myOrderDetail.do(order_id=${item.order_id})}" th:text="${item.order_id}"></a>
        </td>
        <td><strong th:text="${item.pay_order_time}"></strong></td>
        <td>
          <strong>
            <div th:each="item2 : ${myOrderHistList}" th:if="${item.order_id == item2.order_id}">
              <a th:href="@{/goods/goodsDetail.do(goods_id=${item2.goods_id})}" th:text="${item2.goods_title}"></a><br/>
            </div>
          </strong>
        </td>
        <td>
          <strong>
            <div th:each="item2 : ${myOrderHistList}" th:if="${item.order_id == item2.order_id}">
              <span th:text="${item2.goods_sales_price * item2.order_goods_qty + '원 / ' + item2.order_goods_qty + '개'}"></span><br/>
            </div>
          </strong>
        </td>
        <td>
          <strong>
            <span th:switch="${item.delivery_state}">
              <span th:case="'delivery_prepared'">배송준비중</span>
              <span th:case="'delivering'">배송중</span>
              <span th:case="'finished_delivering'">배송완료</span>
              <span th:case="'cancel_order'">주문취소</span>
              <span th:case="'returning_goods'">반품</span>
            </span>
          </strong>
        </td>
        <td><strong th:text="${item.orderer_name}"></strong></td>
        <td><strong th:text="${item.receiver_name}"></strong></td>
        <td>
          <input type="button" th:if="${item.delivery_state == 'delivery_prepared'}"
                 th:onclick="'fn_cancel_order(' + ${item.order_id} + ')'" value="주문취소"/>
          <input type="button" th:unless="${item.delivery_state == 'delivery_prepared'}" value="주문취소" disabled/>
        </td>
      </tr>
    </tbody>
  </table>-->
</section>
</body>
</html>
