<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
  <meta charset="utf-8">
  <title>내주문이력</title>
 
</head>
<body>
<section>
<style>
.even-row {
  background-color: rgb(128, 255, 0); /* 연한 회색 */
}
.odd-row {
  background-color: rgb(0, 255, 255); /* 흰색 */
}
</style>
<script  th:inline="javascript">
   function search_order_history(fixedSearchPeriod){
       const formObj = document.createElement("form");
       const i_fixedSearch_period = document.createElement("input");
       i_fixedSearch_period.name = "fixedSearchPeriod";
       i_fixedSearch_period.value = fixedSearchPeriod;
       formObj.appendChild(i_fixedSearch_period);
       document.body.appendChild(formObj);
       formObj.method = "get";
       formObj.action = "/mypage/listMyOrderHistory.do";
       formObj.submit();
   }

   function fn_cancel_order(order_id){
       const answer = confirm("주문을 취소하시겠습니까?");
       if(answer){
           const formObj = document.createElement("form");
           const i_order_id = document.createElement("input");
           i_order_id.name = "orderId";
           i_order_id.value = orderId;
           formObj.appendChild(i_order_id);
           document.body.appendChild(formObj);
           formObj.method = "post";
           formObj.action = "/mypage/cancelMyOrder.do";
           formObj.submit();
       }
   }
 </script>	
  <h3>주문 배송 조회</h3>
  <form method="post">
    <table>
      <tbody>
        <tr>
          <td>
            <input type="radio" name="simple" checked/> 간단조회
            <input type="radio" name="simple"/> 일간
            <input type="radio" name="simple"/> 월간
          </td>
        </tr>
        <tr>
          <td>
            <select name="curYear">
              <option th:each="i : ${#numbers.sequence(0, 5)}"
                      th:value="${endYear - i}"
                      th:selected="${endYear == endYear - i}"
                      th:text="${endYear - i}"></option>
            </select>년
            <select name="curMonth">
              <option th:each="i : ${#numbers.sequence(1, 12)}"
                      th:value="${i}"
                      th:selected="${endMonth == i}"
                      th:text="${i}"></option>
            </select>월
            <select name="curDay">
              <option th:each="i : ${#numbers.sequence(1, 31)}"
                      th:value="${i}"
                      th:selected="${endDay == i}"
                      th:text="${i}"></option>
            </select>일 &nbsp;이전
            <a href="javascript:search_order_history('today')"><img src="/image/btn_search_one_day.jpg" /></a>
            <a href="javascript:search_order_history('one_week')"><img src="/image/btn_search_1_week.jpg" /></a>
            <a href="javascript:search_order_history('two_week')"><img src="/image/btn_search_2_week.jpg" /></a>
            <a href="javascript:search_order_history('one_month')"><img src="/image/btn_search_1_month.jpg" /></a>
            <a href="javascript:search_order_history('two_month')"><img src="/image/btn_search_2_month.jpg" /></a>
            <a href="javascript:search_order_history('three_month')"><img src="/image/btn_search_3_month.jpg" /></a>
            <a href="javascript:search_order_history('four_month')"><img src="/image/btn_search_4_month.jpg" /></a>
            &nbsp;까지 조회
          </td>
        </tr>
        <tr>
          <td>
            <select name="search_condition">
              <option value="2015" selected>전체</option>
              <option value="2014">수령자</option>
              <option value="2013">주문자</option>
              <option value="2012">주문번호</option>
            </select>
            <input type="text" size="30" />
            <input type="button" value="조회"/>
          </td>
        </tr>
        <tr>
          <td>
            조회한 기간:
            <input type="text" size="4" th:value="${beginYear}"/>년
            <input type="text" size="4" th:value="${beginMonth}"/>월
            <input type="text" size="4" th:value="${beginDay}"/>일 ~
            <input type="text" size="4" th:value="${endYear}"/>년
            <input type="text" size="4" th:value="${endMonth}"/>월
            <input type="text" size="4" th:value="${endDay}"/>일
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <table class="list_view">
      <tbody align="center">
        <tr style="background:#33ff00; height: 30px;">
          <th class="fixed">주문번호</th>
          <th class="fixed">주문일자</th>
          <th>주문내역</th>
          <th>주문금액/수량</th>
          <th>주문상태</th>
          <th>주문자</th>
          <th>수령자</th>
          <th>주문취소</th>
        </tr>
		<tr th:each="entry, iterStat : ${myOrderHistMap}"
			th:class="${iterStat.even} ? 'even-row' : 'odd-row'">
			  <td>
				  <a th:href="@{/mypage/myOrderDetail.do(orderId=${entry.key})}">
	  			    <span th:text="${entry.key}"></span>
	  			  </a>
			 </td>
			  <th:block th:with="orderList=${entry.value}">
			  <td th:if="${#lists.size(orderList) > 0}" th:text="${orderList[0].payOrderTime}">주문일자</td>
			  <td align='left' style="padding-left:30px;">
			    <ul>
			      <li th:each="item : ${entry.value}">
			        <span th:text="${item.goodsTitle}"></span> /
			        <span th:text="${item.orderGoodsQty}"></span>개
			      </li>
			    </ul>
			  </td>
			  <td>
				<div th:each="item2 : ${orderList}">
		              <span th:text="${item2.goodsSalesPrice * item2.orderGoodsQty + '원 / ' + item2.orderGoodsQty + '개'}"></span><br/>
	            </div>
	          </td>
			  <td>
				<strong>
					<span th:switch="${orderList[0].deliveryState}">
		                <span th:case="'delivery_prepared'">배송준비중</span>
		                <span th:case="'delivering'">배송중</span>
		                <span th:case="'finished_delivering'">배송완료</span>
		                <span th:case="'cancel_order'">주문취소</span>
		                <span th:case="'returning_goods'">반품완료</span>
		                <span th:case="*">기타</span>
		            </span>
				</strong>
			  <td><strong th:text="${orderList[0].ordererName}"></strong></td>
			  <td><strong th:text="${orderList[0].receiverName}"></strong></td>
			  <td>
	            <input type="button" th:if="${orderList[0].deliveryState == 'delivery_prepared'}"
	                   th:onclick="'fn_cancel_order(' + ${entry.key} + ')'" value="주문취소"/>
	            <input type="button" th:if="${orderList[0].deliveryState != 'delivery_prepared'}"
	                   value="주문취소" disabled/>
	          </td>
			  </th:block>
		</tr>
      </tbody>
  </table>
  <!-- 페이징 -->
  <div style="text-align: center; margin-top: 20px;">
      <span th:each="page : ${#numbers.sequence(1, 10)}"
            th:if="${(section - 1) * 10 + page <= totalPage}">
          
          <!-- 이전 페이지로 이동 -->
          <a th:if="${section > 1 and page == 1}"
             th:href="@{/mypage/listMyOrderHistory.do(section=${section-1}, pageNum=${(section-1)*10 +1})}">
              &laquo;
          </a>
          
          <!-- 현재 페이지 번호 -->
          <a th:href="@{/mypage/listMyOrderHistory.do(section=${section}, pageNum=${page})}"
             th:text="${(section - 1) * 10 + page}"
             th:style="${pageNum == page} ? 'margin: 0 5px; font-size: 20px; color: red; font-weight: bold;' : 'margin: 0 5px;'">
  		</a>

          <!-- 다음 페이지로 이동 -->
          <a th:if="${page == 10 and totalPage > section * 10}"
             th:href="@{/mypage/listMyOrderHistory.do(section=${section+1}, pageNum=${section*10 + 1})}">
              &raquo;
          </a>
      </span>
  </div>
</section>
</body>
</html>
