<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
  <head>
    <title>최근 주문 내역</title>
  </head>
<body>
<section>
	  <div th:if="${message == 'cancel_order'}">
	    <script>
	      window.onload = function () {
	        alert("주문을 취소했습니다.");
	      };
	    </script>
	  </div>

	  <script th:inline="javascript">
	    function fn_cancel_order(order_id) {
	      if (confirm("주문을 취소하시겠습니까?")) {
	        const formObj = document.createElement("form");
	        const i_order_id = document.createElement("input");
	        i_order_id.name = "order_id";
	        i_order_id.value = order_id;

	        formObj.appendChild(i_order_id);
	        document.body.appendChild(formObj);
	        formObj.method = "post";
	        formObj.action = '/mypage/cancelMyOrder.do';
	        formObj.submit();
	      }
	    }
	  </script>	
    <div>
        <h1>최근주문내역
            <a href="#"><img src="/image/btn_more_see.jpg" alt="더보기" /></a>
        </h1>
		<table class="list_view">
	        <tr style="background:#33ff00; height: 30px;">
	            <th>주문번호</th>
	            <th>주문일자</th>
	            <th>주문상품</th>
	            <th>주문상태</th>
	            <th>주문취소</th>
	        </tr>
		<tbody align="center">
		<tr th:each="entry : ${myOrdersMap}">
		  <!--<td th:text="${entry.key}">주문번호</td>-->
		  <td>
			<a th:href="@{/mypage/myOrderDetail.do(order_id=${entry.key})}">
			    <span th:text="${entry.key}"></span>
			</a>
	      </td>
		  <th:block th:with="myOrdersList=${entry.value}">
		  <td th:if="${#lists.size(myOrdersList) > 0}" th:text="${myOrdersList[0].pay_order_time}">주문일자</td>
		  <td align='left' style="padding-left:100px;">
		    <ul>
		      <li th:each="item : ${entry.value}">
		        <span th:text="${item.goods_title}"></span> /
		        <span th:text="${item.order_goods_qty}"></span>개
		      </li>
		    </ul>
		  </td>
		  <td>
			<span th:switch="${myOrdersList[0].delivery_state}">
                <span th:case="'delivery_prepared'">배송준비중</span>
                <span th:case="'delivering'">배송중</span>
                <span th:case="'finished_delivering'">배송완료</span>
                <span th:case="'cancel_order'">주문취소</span>
                <span th:case="'returning_goods'">반품완료</span>
                <span th:case="*">기타</span>
            </span>
			
		  </td>
		  <td>
            <input type="button" th:if="${myOrdersList[0].delivery_state == 'delivery_prepared'}"
                   th:onclick="'fn_cancel_order(' + ${entry.key} + ')'" value="주문취소"/>
            <input type="button" th:if="${myOrdersList[0].delivery_state != 'delivery_prepared'}"
                   value="주문취소" disabled/>
          </td>
		  </th:block>
		</tr>
		</tbody>
		</table>
		</div>
<!-- 페이징 -->
<div style="text-align: center; margin-top: 20px;">
    <span th:each="page : ${#numbers.sequence(1, 10)}"
          th:if="${(section - 1) * 10 + page <= totalPage}">
        
        <!-- 이전 페이지로 이동 -->
        <a th:if="${section > 1 and page == 1}"
           th:href="@{/mypage/myPageMain.do(section=${section-1}, pageNum=${(section-1)*10 +1})}">
            &laquo;
        </a>
        
        <!-- 현재 페이지 번호 -->
        <a th:href="@{/mypage/myPageMain.do(section=${section}, pageNum=${page})}"
           th:text="${(section - 1) * 10 + page}"
           th:style="${pageNum == page} ? 'margin: 0 5px; font-size: 20px; color: red; font-weight: bold;' : 'margin: 0 5px;'">
		</a>

        <!-- 다음 페이지로 이동 -->
        <a th:if="${page == 10 and totalPage > section * 10}"
           th:href="@{/mypage/myPageMain.do(section=${section+1}, pageNum=${section*10 + 1})}">
            &raquo;
        </a>
    </span>
</div>	
        <br/><br/><br/>

        <h1>계좌내역
            <a href="#"><img src="/image/btn_more_see.jpg" /></a>
        </h1>
        <table border="0" width="100%" cellpadding="10" cellspacing="10">
            <tr>
                <td>예치금 &nbsp;&nbsp; <strong>10000원</strong></td>
                <td>쇼핑머니 &nbsp;&nbsp; <strong>9000원</strong></td>
            </tr>
            <tr>
                <td>쿠폰 &nbsp;&nbsp; <strong>6000원</strong></td>
                <td>포인트 &nbsp;&nbsp; <strong>2000원</strong></td>
            </tr>
            <tr>
                <td>상품권 &nbsp;&nbsp; <strong>4000원</strong></td>
                <td>디지털머니 &nbsp;&nbsp; <strong>9000원</strong></td>
            </tr>
        </table>

        <br/><br/><br/>

        <h1>나의 정보
            <a href="#"><img src="/image/btn_more_see.jpg" /></a>
        </h1>
        <table border="0" width="100%" cellpadding="10" cellspacing="10">
            <tr>
                <td>이메일:</td>
                <td><strong th:text="${session.memberInfo.email1 + '@' + session.memberInfo.email2}"></strong></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><strong th:text="${session.memberInfo.hp1 + '-' + session.memberInfo.hp2 + '-' + session.memberInfo.hp3}"></strong></td>
            </tr>
            <tr>
                <td>주소</td>
                <td>
                    도로명: &nbsp;&nbsp; <strong th:text="${session.memberInfo.roadAddress}"></strong><br/>
                    지번: &nbsp;&nbsp; <strong th:text="${session.memberInfo.jibunAddress}"></strong>
                </td>
            </tr>
        </table>
    </div>
	

</body>
</html>
