<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title>주문상세정보</title>

</head>

<body>
<section>
<script type="text/javascript" th:inline="javascript">
	function fn_modify_delivery_state(_order_id){
	    var s_delivery_state = document.getElementById("s_delivery_state");
	    var index = s_delivery_state.selectedIndex;
	    var value = s_delivery_state[index].value;
	    console.log("value: " + value);
	    $.ajax({
	        type : "post",
	        async : false,
	        url : "/admin/order/modifyDeliveryState.do",
	        data : {
	            order_id: _order_id,
	            'delivery_state': value
	        },
	        success : function(data) {
	            if(data.trim() === 'mod_success'){
	                alert("배송 정보를 수정했습니다.");
	               // location.href = "/admin/order/admiinOrderDetail.do?order_id=" + _order_id;
	            } else if(data.trim() === 'failed'){
	                alert("다시 시도해 주세요.");
	            }
	        },
	        error : function(data) {
	            alert("에러가 발생했습니다." + data);
	        }
	    });
	}
</script>	
<h1>1.주문상세정보</h1>
<table class="list_view">
    <tbody align="center">
        <tr style="background: #33ff00">
            <td>주문번호</td>
            <td colspan="2" class="fixed">주문상품명</td>
            <td>수량</td>
            <td>정가</td>
            <td>예상적립금</td>
			<td>주문금액</td>
			<td>배송비</td>
            <td>총주문금액</td>
        </tr>
		<th:block th:each="entry : ${orderMap}">
		  <th:block th:with="orderList=${entry.value}">
	        <tr th:each="item, iterStat : ${orderList}">
	            <!--<td th:text="${orderId}"></td>-->
				<td th:if="${iterStat.index == 0}" th:rowspan="${#lists.size(orderList)}" style="background-color: #d0ebff;" >
					<h2 th:text="${item.order_id}"></h2>
				</td>
	            <td class="goods_image">
	                <a th:href="@{/goods/goodsDetail.do(goods_id=${item.goods_id})}">
	                    <img width="75" th:src="@{/thumbnails.do(goods_id=${item.goods_id},fileName=${item.goods_fileName})}" alt="">
	                </a>
	            </td>
	            <td>
	                <h2>
	                    <a th:href="@{/goods/goodsDetail.do(goods_id=${item.goods_id})}" 
	                       th:text="${item.goods_title}"></a>
	                </h2>
	            </td>
	            <td><h2 th:text="${item.order_goods_qty} + '개'"></h2></td>
	            <td><h2 th:text="${item.goods_price} + '원'"></h2></td>
	            <td><h2 th:text="${1500 * item.order_goods_qty} + '원'"></h2></td>
				<td><h2 th:text="${item.goods_sales_price} + '원'"></h2></td>
				<td th:if="${iterStat.index == 0}"				
					th:rowspan="${#lists.size(orderList)}" 
					style="background-color: #a9a9a9;">
					<h2 th:text="${finalTotalOrderPrice >= 15000 ? '0원' : '1500원'}"></h2>
				</td>
				<td th:if="${iterStat.index == 0}" 
			    	  th:rowspan="${#lists.size(orderList)}" 
			     			 style="background-color: #e0f7da;">
			    	<h2 th:text="${finalTotalOrderPrice} +'원'"></h2>
			 	</td>
	          </tr>
		    </th:block>
         </th:block>
    </tbody>
</table>

<div class="clear"></div>

<form name="frm_delivery_list">
    <br><br>
    <h1>2. 배송지 정보</h1>
    <div class="detail_table">
        <table>
            <tbody>
                <tr class="dot_line">
                    <td class="fixed_join">배송방법</td>
                    <td th:text="${orderDataMap.deliveryInfo.delivery_method}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">받으실 분</td>
                    <td th:text="${orderDataMap.deliveryInfo.receiver_name}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">휴대폰번호</td>
                    <td th:text="${orderDataMap.deliveryInfo.receiver_hp1} + '-' + ${orderDataMap.deliveryInfo.receiver_hp2} + '-' + ${orderDataMap.deliveryInfo.receiver_hp3}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">유선전화(선택)</td>
                    <td th:text="${orderDataMap.deliveryInfo.receiver_tel1} + '-' + ${orderDataMap.deliveryInfo.receiver_tel2} + '-' + ${orderDataMap.deliveryInfo.receiver_tel3}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">주소</td>
                    <td th:utext="${orderDataMap.deliveryInfo.delivery_address}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">배송 메시지</td>
                    <td th:text="${orderDataMap.deliveryInfo.delivery_message}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">선물 포장</td>
                    <td th:text="${orderDataMap.deliveryInfo.gift_wrapping}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <br><br>
        <h2>주문고객</h2>
        <table>
            <tbody>
                <tr class="dot_line">
                    <td><h2>이름</h2></td>
                    <td><input type="text" th:value="${orderDataMap.orderer.member_name}" size="15" disabled></td>
                </tr>
                <tr class="dot_line">
                    <td><h2>핸드폰</h2></td>
                    <td><input type="text" th:value="${orderDataMap.orderer.hp1} + '-' + ${orderDataMap.orderer.hp2} + '-' + ${orderDataMap.orderer.hp3}" size="15" disabled></td>
                </tr>
                <tr class="dot_line">
                    <td><h2>이메일</h2></td>
                    <td><input type="text" th:value="${orderDataMap.orderer.email1} + '@' + ${orderDataMap.orderer.email2}" size="15" disabled></td>
                </tr>
            </tbody>
        </table>
    </div>
	<div class="clear"></div>
    <br><br><br>
    <h1>3.결제정보</h1>
    <div class="detail_table">
        <table>
            <tbody>
                <tr class="dot_line">
                    <td class="fixed_join">결제방법</td>
                    <td th:utext="${orderDataMap.deliveryInfo.pay_method}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">결제카드</td>
                    <td th:text="${orderDataMap.deliveryInfo.card_com_name}"></td>
                </tr>
                <tr class="dot_line">
                    <td class="fixed_join">할부기간</td>
                    <td th:text="${orderDataMap.deliveryInfo.card_pay_month}"></td>
                </tr>
            </tbody>
        </table>
    </div>
	<div class="clear"></div>
    <br><br><br>
    <h1>4.배송상태</h1>
    <div class="detail_table">
        <table>
            <tbody>
                <tr class="dot_line">
                    <td>
                        <select name="s_delivery_state" id="s_delivery_state">
                            <option value="delivery_prepared" th:selected="${orderDataMap.deliveryInfo.delivery_state == 'delivery_prepared'}">배송준비중</option>
                            <option value="delivering" th:selected="${orderDataMap.deliveryInfo.delivery_state == 'delivering'}">배송중</option>
                            <option value="finished_delivering" th:selected="${orderDataMap.deliveryInfo.delivery_state == 'finished_delivering'}">배송완료</option>
                            <option value="cancel_order" th:selected="${orderDataMap.deliveryInfo.delivery_state == 'cancel_order'}">주문취소</option>
                            <option value="returning_goods" th:selected="${orderDataMap.deliveryInfo.delivery_state == 'returning_goods'}">반품</option>
                        </select>
                        <input type="hidden" name="h_delivery_state" th:value="${orderDataMap.deliveryInfo.delivery_state}">
                    </td>
                    <td width="10%">
                        <input type="button" value="배송수정"
                               th:onclick="'fn_modify_delivery_state(' + ${orderDataMap.deliveryInfo.order_id} + ')'">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<br><br><br>
<a th:href="@{/main/main.do}">
    <img width="75" alt="" th:src="@{/image/btn_shoping_continue.jpg}">
</a>

<div class="clear"></div>
</section>
</body>
</html>
